<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="titulo mb-3"> Login</h1>
  
  <div class="container">
    <form [formGroup]="formLogin" action="">
      
      <ion-input
      [(ngModel)]="usuarios.email"
      [formControl]="formLogin.controls.email"
      type="email"
      fill="translucent"
      label="Email"
      labelPlacement="floating"
      helperText="Ingrese su email"
      email
      ></ion-input>
      <ion-input
      [(ngModel)]="usuarios.contrasena"
      [formControl]="formLogin.controls.contrasena"
      type="password"
      fill="translucent"
      label="Contraseña"
      labelPlacement="floating"
      helperText="Ingrese su contraseña"
      password
      ></ion-input>
    

      <ion-button (click)="iniciarSesion()" color="secondary" text-capitalize shape="round" class="boton mt-4" expand="block">Iniciar sesión</ion-button>
    </form>

    <ion-row class="ion-justify-content-center mt-3 mx-auto">
      <ion-col>
        <p class="texto mx-auto">¿No tenes cuenta? <a routerLink="../registro">Registrate</a></p>
      </ion-col>
    </ion-row>
    <div class="prueba">
      <img class="imagen-hoja" src="../../assets/images/clip-art-7157638_1280.png" alt="">
    </div>
   
    
  </div>
</ion-content>
