<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      <ion-button routerLink="/registro">Registro</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list color="medium">
    <app-card-publicacion *ngFor="let post of coleccionPublicaciones"
              [usuario]="post.usuario"
              [titulo]="post.titulo"
              [descripcion]="post.descripcion"
              [imagen]="post.imagen"
              [date_hour]="post.date_hour">
    </app-card-publicacion>
  </ion-list>
</ion-content>
