<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      <ion-button routerLink="/registro">Registro</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list color="medium">
    <app-card-publicacion *ngFor="let post of posts"
              [profileImage]="post.profileImage"
              [username]="post.username"
              [timestamp]="post.timestamp"
              [postImage]="post.postImage"
              [caption]="post.caption"
              [likes]="post.likes"
              [comments]="post.comments">
    </app-card-publicacion>
  </ion-list>
</ion-content>
