<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="titulo mb-5"> Registro </h1>
  <img class="imagen-hoja" src="../../assets/images/clip-art-7157638_1280.png" alt="">
  <div class="container">
    <form action="">
      
      <ion-input
      
      type="email"
      fill="translucent"
      label="Usuario"
      labelPlacement="floating"
      helperText="Enter a valid email"
      email
      ></ion-input>
      <ion-input
      type="email"
      fill="translucent"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      email
      ></ion-input>
      <ion-input
      type="email"
      fill="translucent"
      label="Contraseña"
      labelPlacement="floating"
      helperText="Enter a valid email"

      email
      ></ion-input>


      <ion-button color="secondary" text-capitalize shape="round" class="boton mt-4" expand="block">Registrate</ion-button>
    </form>
  </div>
</ion-content>
