<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="titulo mb-5"> Registro </h1>
  <img class="imagen-hoja" src="../../assets/images/clip-art-7157638_1280.png" alt="">
  <div class="container">
    <form  [formGroup]="formRegistro" (ngSubmit)="registrarse()">
      
      <ion-input
      type="email"
      fill="translucent"
      label="Usuario"
      labelPlacement="floating"
      helperText="Ingrese un nombre de usuario"
      email
      [(ngModel)]="usuarios.nombre" [formControl]="formRegistro.controls.nombre"></ion-input>
      <ion-input
      type="email"
      fill="translucent"
      label="Email"
      labelPlacement="floating"
      helperText="Ingrese un email"
      email
      [(ngModel)]="usuarios.email" [formControl]="formRegistro.controls.email"></ion-input>
      <ion-input
      type="email"
      fill="translucent"
      label="Contraseña"
      labelPlacement="floating"
      helperText="Ingrese una contraseña"
      email
      [(ngModel)]="usuarios.contrasena" [formControl]="formRegistro.controls.contrasena" [type]="hidePass ? 'password' : 'text'"></ion-input>
      <ion-input
      type="email"
      fill="translucent"
      label="Contraseña"
      labelPlacement="floating"
      helperText="Repita la contraseña"

      email
      [formControl]="formRegistro.controls.repetirContrasena" [type]="hidePass ? 'password' : 'text'"></ion-input>


      <ion-button color="secondary" text-capitalize shape="round" class="boton mt-4" expand="block">Registrate</ion-button>
    </form>
    <ion-row class="ion-justify-content-center mt-3 mx-auto">
      <ion-col>
        <p class="texto mx-auto">Ya tenes cuenta? <a routerLink="../login">Inicia sesión</a></p>
      </ion-col>
</ion-row>
    
  </div>
</ion-content>
